<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="box">
        <div class="smile"><span >😂</span></div>
        <div class="joke">
            <p id="Joke" action="/click" method="POST"><%= joke %></p>
        </div>
        <!-- <div class="btn">
            <button id="btn" value="click">Random Joke</button>
        </div> -->
    </div>
</body>
</html>